body{ 
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; 
    width: auto; 
    height: 100%; 
    margin: 0rem; 
    padding: 0rem; 
} 

.classic_extensions_wrapp{
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 15px; 
}

.method-request_buttonsWrapp{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.method-request_buttonsWrapp h2{
    font-size: 28px; 
    text-align: center;
    width: 50%;
    margin-bottom: 2.5rem;
}
.wrapp_box_section{
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 15px 15px; 
    margin: 0.2rem; 
    display:flex; 
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    border: 1px solid grey; 
    border-radius: 5px;
    width: 90%; 
}
.wrapp_box_section
.requestBtns_sect{
    width: 20%; 
    height: auto;
    margin: 0.2rem; 
    cursor: pointer;
}